{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        modules: false,
        exclude: ["transform-regenerator"]
      }
    ],
    "@babel/typescript"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
